.element {
  background-color: #fcfcfc;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.element .div {
  background-color: #a1d0d9;
  border: 1px none;
  height: 932px;
  position: relative;
  width: 430px;
}

.element .overlap-group {
  background-color: #868789;
  height: 76px;
  left: 0;
  position: absolute;
  top: 0;
  width: 430px;
}

.element .text-wrapper {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 26px;
  font-weight: 700;
  left: 77px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 22px;
  white-space: nowrap;
  width: 281px;
}

.element .eva-arrow-ios-back {
  height: 24px;
  left: 22px;
  position: absolute;
  top: 26px;
  width: 12px;
}

.element .overlap {
  background-color: #868789;
  border-radius: 10px;
  height: 63px;
  left: 100px;
  position: absolute;
  top: 806px;
  width: 263px;
}

.element .rectangle {
  background-color: #868789;
  border-radius: 10px;
  height: 63px;
  left: 0;
  position: absolute;
  top: 0;
  width: 263px;
}

.element .text-wrapper-2 {
  color: #ffffff;
  font-family: "Roboto", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 57px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 21px;
  white-space: nowrap;
}

.element .map {
  height: 275px;
  left: 10px;
  object-fit: cover;
  position: absolute;
  top: 190px;
  width: 410px;
}

.element .img {
  height: 275px;
  left: 10px;
  object-fit: cover;
  position: absolute;
  top: 520px;
  width: 410px;
}

.element .p {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 24px;
  font-weight: 500;
  left: 100px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 95px;
  width: 227px;
}
